#name{
  display: inline;
  font-family: FV Almelo;
  color:blue;
  font-size: 34px;

}

body{

  background: url("/resources/FullBody.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
