#top-background{
    margin-top: 10px;
  width: 100%;
  height: 50%;
  /*align-items: center;
  justify-content: center;*/
  background-image: url("/resources/photos/brooklyn-skyline.jpg");
  background-attachment: fixed; /* This makes the iamge not move when scroll down the page */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -100px;
}
/* Stlye for the smallphoto of me */
#smallphoto{
  margin-top: 30px;
border-radius: 250px;
  width: 100px;
height: 100px;
}

/* style for all of the links in my nav bar */
.pagelinks{
      margin-top: 30px;
  float: right;
  font-family: FV Almelo ,sans-serif;
  font-size: 34;
  color: black;
  text-decoration: none;
  padding-left: 13px;
}
#project-link{
  align-items: center;
  text-align: center;
  font-family: Courier ,sans-serif;
  font-size: 16;
  color: black;
  text-decoration: underline;


}
/* This only here to me the space for nav bar look right */
#blank{
  color: transplant;
  opacity: 0;

}

.Into-text{
  margin-top: -19px;
  text-align: center;
  display: block;
  font-size: 70px;
  font-family: FV Almelo, sans-serif;
}


/* This all the style for the contact form */

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

  .container{
    margin-top: 200px;
    float: left;
position: absolute;
left: 35%;
  }

  .form-area{
    display: block;
    justify-content: center;
    align-items: center;

  }

  /* For the email link */
  .text{
    margin-top:200px;
    text-align: center;
    align-items: center;
    font-size: 32px;
    font-family: Courier, sans-serif;
  }
/* This code for mvp of my personal website social media links */
.FlexBox{
  /*margin-top:100px;*/

  /* flex make the box fit in the same line */
 display: flex;
 /* This makes all of the objects move to the center */
  justify-content: center;
  /* Moves the itmes /box to the center of the page */
  align-items: center;
  /*width: 600px;*/
}
.Social_Media{

  display: inline;
  position: fixed;
   bottom: 0;
 margin: auto;
   height: -20px;
   margin-left: 12px;
