<html>
<head>
  <title> Israel Ali </title>
</head>
  <!-- Css lins -->
  <link rel="stylesheet" href="/resources/Homepage.css">
  <body>
      <div class="wrapper"> <!-- for reasons -->
        <!-- The right side of the webpage -->
          <div class="main-content">
              <!-- your main stuff here -->
              <h1>  Israel Ali </h1>
          <section class=FlexBox>
              <h3 class="button"><a href="AboutMe.html">About Me</a></a></h3>
              <h3 class="button"><a href="Contact.html">Contact</a></a></h3>
            </section>

            <!-- This is the footers -->
            <section class="FlexBox">
              <div class="Social_Media">
                <!-- This is the footers -->
                  <!-- Link to my FaceBook with the logo -->
                    <a  href="https://www.facebook.com/israel.ali.796"><img id="facebook" src="/resources/Logos/facebook.png"></a>
                      <a  href="https://www.instagram.com/its_real396/?hl=en"><img id="instagram" src="/resources/Logos/insta.png"></a>
                      <a  href="https://www.linkedin.com/in/israel-a-960a2b11a/"><img id="linkedin" src="/resources/Logos/linkedin.png"></a>
                      <a  href="https://twitter.com/aji_bounce79"><img id="twitter" src="/resources/Logos/twitter.png"></a>
                      <!-- <a  href="https://mail.google.com/mail/u/0/#inbox"><img id="email" src="/resources/Logos/email.png"></a> -->


</section>
          </div>
          <!-- The left side of the Webpage -->
          <div class="PicOfMe">
              <!-- your not so main stuff here -->
              <img id="Israel" src="/resources/picizzy.jpg">
          </div>
      </div>
  </body>







  <!-- Links to Jquary -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
