<html>
<head>
  <title> Israel Ali </title>
</head>
<body>
  <!-- Css lins -->
  <link rel="stylesheet" href="/resources/Homepage.css">
  <body>
      <div class="wrapper"> <!-- for reasons -->
          <div class="main-content">
              <!-- your main stuff here -->
              <h1>  Israel Ali </h1>
          <section class=FlexBox>
              <h3 class="button"> About </h3>
              <h3 class="button"> Contact </h3>
            </section>
            <!-- Link to my FaceBook with the logo -->
            <section class="FlexBox">
              <div class="Social_Media">
<a  href="https://www.facebook.com/israel.ali.796"><img src="//login.create.net/images/icons/user/facebook_40x40.png" border=0></a>
<a   href="https://www.instagram.com/its_real396/?hl=en"><img src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0></a>
</div>
</section>
          </div>
          <div class="PicOfMe">
              <!-- your not so main stuff here -->
              <img id="Israel" src="/resources/picizzy.jpg">
          </div>
      </div>
  </body>







  <!-- Links to Jquary -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
