<html>
<head>
  <title> Contact Me </title>
</head>
  <!-- Css lins -->
  <link rel="stylesheet" href="/resources/css/Projects.css">
</body>
  <section  id="top-background" class"content">
    <div class="navbar">
      <img id="smallphoto" src="/resources/photos/Headshot.jpg">
      <p class="pagelinks" id="blank"> He </p> <!-- this is just here to fill space it does nothing and will not be seen -->
      <a class="pagelinks" href="Contact.html">Contact</a>
        <a class="pagelinks" href="AboutMe.html">About Me</a>
          <a class="pagelinks" href="/">Home</a> <!-- The slach links it back to the HomePage -->
</div>
<div class="navbar">
<h3 class="Into-text"> Projects  <h3>
</div>
</section>
<!-- this is the end of that section -->

<!-- This all code for the next section about me and life -->

<section class="projects">
  <div  class= "main-content">
      <h2 class="project-title"> Checkiversity <h2>
      <img id="check-list-photo" src="/resources/photos/check-list.png">
    </div>
    <div>
    <h4 class="what-I-did"> Web Design / UI <h4>
    </div>
    <div>

    <p class="description"> Checkiversity was created in a team of 3 during <br>
Google CSSI. Checkiversity is a checklist generator for rising college <br>
freshman to help them ease their transition into college by helping them
organize their needs.Users can create, edit, save, and delete their checklists.
 <p>
  <a class= "project-link" href="http://checkiversity.appspot.com/">Click here to  view Checkiversity.  </a>
    </div>
</section>
<!-- Code for my Personal Website description -->
<section class="projects">
  <div  class= "main-content">
      <h2 class="project-title"> Personal Website <h2>
      <img id="check-list-photo" src="/resources/photos/Personal-Website-pic.png">
    </div>
    <div>
    <h4 class="what-I-did"> Full stack <h4>
    </div>
    <div>

    <p class="description"> This is my Personal Website. I created it as my <br>
  first solo project.It just gives a small bio of me, shows some <br>
   projects I am working on and gives different ways to contact me.
    <!-- When you delopy the webstie add in the correcy link -->
    <div>
  <a class= "project-link" href="https://israel-ali.appspot.com/">Click here to  view my Personal Website  </a>
    </div>
</section>

<!-- Cdoe for my thired project the dictionary -->
<!-- The "last-project" will give the website the space it need to show all of it content -->
<section id="last-project"class="projects">
  <div  class= "main-content">
      <h2 class="project-title">  Dictionary <h2>
      <img id="check-list-photo" src="/resources/photos/Under-Construction.png">
    </div>
    <div>
    <h4 class="what-I-did"> Full stack  <h4>
    </div>
    <div>

    <p class="description"> I am still working on this project, but it is a dictionary <br>
      website. This website will be able to define any work you can think of. <br>
      I have finished the back end of the website but I need to create the front end. <br>
 <p>
</section>






<!-- For some reason  you only  see all the text you need if but dummmy clear words right here  to make more space-->
<section>
  <h1 class="nothing"> Hey how are you <h1>
    <h1 class="nothing"> Do you need some help <h1>
  <section>


</body>
